.MessaggioSinistra,
.MessaggioDestra {
	width: 90%;
	float: left;
	margin-block: 2%;
	display: flex;
	justify-content: space-between;
}
.inputContainer{
	position: relative;
	width: 100%;
}
h5{
	font-weight: bold !important;
	color: #2A6364 !important;
}

hr{
	margin: 1% 1% 1% 0 !important;
}

.spanClass{
	font-weight: 400 !important;
	color: #2A6364 !important;
}

button{
	background-color: transparent;
	color: red;
	border: none;
}

.DIVelimina {
	width: 100%;
	text-align: right;
	font-size: 14px;
}

.Spazio {
	width: 22%;
	float: left;
}

.divImg{
	width:10%;
	height: auto;
	float: left;
	text-align: center;
}

.divText {
	width: 90%;
	float: left;
	background-color: white;
	text-align: left;
	padding: 5px 15px 5px 15px;
	border-radius: 10px;
	box-shadow: 0 5px 10px 5px rgba(0, 0, 0, 0.5);
	span{font-style: normal;}
}

.userimg{
	width:45px;
	border-radius: 50px;
}

.radiobutton {
	display: flex;
	align-items: center;
	margin: 10px;
}

.radiobutton input {
	width: 6%;
	height: 22px;
}

.scroll-container {
	overflow-y: scroll; 
    position: relative;
	scrollbar-width: none; 
	-ms-overflow-style: none;
	width: 90vw;
	padding: 2%;
}

.scroll-container::-webkit-scrollbar {
	display: none; 
}

.inputBacheca {
    position: absolute;
    bottom: 0;
	left: 0;
    width: calc(100% - 16px);
    display: flex;
    align-items: center;
    padding: 10px 8px;
    box-sizing: border-box; 
}
    
.invioInput {
	width: calc(100% - 47px); 
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
    box-sizing: border-box; 
	box-shadow: 0 5px 10px 5px rgba(0, 0, 0, 0.5);
}
    
.invioimg {
    width: 37px;
    border-radius: 10px;
    cursor: pointer;
	box-shadow: 0 5px 10px 5px rgba(0, 0, 0, 0.5);
}

.areaBacheca {
	position: relative;
	height: 80dvh;
	width: 100%;
    padding-inline: 20px;
    display: flex;
	flex-direction: column;
	align-items: center;
    background-image: url(./image/sfondobacheca.jpg);
	z-index: 0;
}

.right {
	width: 100%;
	text-align: right;
	font-size: 14px;
}

.rightimg {
	width: 12px;
    margin-left: 5px;
    margin-right: 5px;
}

.dontrightimg {
	width: 12px;
	transform: rotate(180deg);
    margin-left: 5px;
    margin-right: 5px;
}

.approved{
    text-align: left;
}

.bottom-post{
    padding: 1%;
    display: flex;
    justify-content: space-between;
    margin: 0 20px; 
}
