.SideMenu {
    display: none;
    height: 100dvh;
    width: 100vw;
    background-color: #fff;
    color: #2a6364;
    position: fixed; /* Changed to fixed */
    top: 0;
    right: -100vw; /* Changed to -100vw to move it completely out of view */
    transition: all 0.5s ease-in-out;
    z-index: 8;
}

.SideMenu.openMenu {
    right: 0;
}

/* Additional styles remain unchanged */
.burgerMenu {
    cursor: pointer;
    display: none;
    position: relative;
    width: 50px;
    height: 30px;
    z-index: 9;
    margin-right: 20px;
}

.burgerMenu .line {
    background-color: #2a6364;
    border-radius: 25px;
    position: absolute;
    height: 5px;
    transition: all 0.5s ease-in-out;
}

.burgerMenu .line:nth-child(1),
.burgerMenu .line:nth-child(3) {
    width: 40px;
}

.burgerMenu .line:nth-child(1) {
    top: 0;
}

.burgerMenu .line:nth-child(2) {
    top: 50%;
    width: 50px;
    transform: translateY(-50%);
}

.burgerMenu .line:nth-child(3) {
    top: 100%;
    transform: translateY(-100%);
}

/* When burgerMenu is active */
.burgerMenu.openBurger .line:nth-child(1) {
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
    width: 50px;
}

.burgerMenu.openBurger .line:nth-child(2) {
    opacity: 0;
}

.burgerMenu.openBurger .line:nth-child(3) {
    top: 50%;
    transform: translateY(-50%) rotate(-45deg);
    width: 50px;
}

.burgerMenu.collapse .line:nth-child(1),
.burgerMenu.collapse .line:nth-child(3) {
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
}

.burgerMenu.collapse.openBurger .line:nth-child(1) {
    transform: translateY(-50%) rotate(45deg);
}

.burgerMenu.collapse.openBurger .line:nth-child(3) {
    transform: translateY(-50%) rotate(-45deg);
}

.burgerMenu.collapse.openBurger .line {
    background-color: red;
}

.reactive ul {
    display: flex;
    flex-direction: column;
    align-items: start;
    li {
        text-align: left;
        margin-block: 10%;
    }
}

@media only screen and (max-width: 1000px) {
    .burgerMenu {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }
    .SideMenu{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}
