.sideMain{
	position: absolute;
	display: flex;
	align-items: center;
	height: auto;
	right: -300px;
	bottom: 0;
	top:0;
	transition: all 0.5s ease-in-out;
	z-index: 10;
}
.sideMain.openBar{
	right: 5px;
	height: auto;
	bottom: 0;
	top:0;
}
.sidebar{
	padding: 5px;
	margin-block: 10px;
	border-radius: 25px;
	background-color: #DA3535;
	box-shadow: 0 5px 10px 5px rgba(0, 0, 0, 0.5);
	width: 300px;
}
.menuButton{
	cursor: pointer;
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50px;
	height: 50px;
	right: 100%;
	background-color: #DA3535;
	border-radius: 10px 0 0 10px;
	transition: all 0.5s ease-in-out;
	z-index: 8;
	svg{transition: all 0.5s ease-in-out;}
}
.menuButton.openMenu{
	svg{transform: rotate(180deg)};
}
hr{
	margin: 2% 0 2% 0 !important;
}

span{
	font-weight: bold !important;
	color: #2A6364 !important;
}

.button{
	text-align: center;
}

.Form{
	background-color: #fff;
	padding: 20px;
	border: 1px solid #ccc;
	border-radius: 25px;
	h4{
		font-weight: bold !important;
		color: #2A6364 !important;
		text-align: center;
	}
	input{
		height: 20%;
		width: 100%;
		padding: 0 6px 0 6px;
		border-radius: 5px;
	}
	textarea{
		height: 50%;
		width: 100%;
		padding: 4px 6px 0 6px;
		border-radius: 5px;
	}
	.opzioni{
		border: none;
		width: 90%;
		margin-bottom: 5px;
	}
	.sottotitoloForm{
		color: #8d8d8d !important;
		text-align: center;
		margin-bottom: 10px;
	}
	
	.inviomodulo{
		background-color: #DA3535;
		padding: 8px 30px 8px 30px;
		font-weight: bold !important;
		color: white;
		border-radius: 25px;
		width: 50%;
		box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.5);
		cursor: pointer;
		transition: all 0.5s ease-in-out;
	}
	.inviomodulo:hover{transform: translateY(-2px);}
}
.Form:first-child{margin-bottom: 5px;}

@media only screen and (max-height:800px) and (max-width:400px) {
	.sideMain{
		right: -95%;
		padding-block: 10px;
	}
	.menuButton.openMenu{
		right: 85%;
		transform: rotate(180deg);
		svg{transform: rotate(0)};
	}
	.Form{
		background-color: #fff;
		padding: 10px;
		border: 1px solid #ccc;
		border-radius: 25px;
		input{
			height: 10%;
		}
		textarea{
			height: 20%;
		}
	}
}