.sidebar {
	position: fixed;
	top: 90px;
	right: -100%;
	scrollbar-width: none;
	-ms-overflow-style: none;
	padding: 1%;
	border-radius: 25px;
	background-color: #DA3535;
	box-shadow: 0 5px 10px 5px rgba(0, 0, 0, 0.5);
	transition: all 0.5s ease-in-out;
	height: auto;
	z-index: 8;
}
.sidebar.openBar{
	right: 5px;
}
.menuButton{
	cursor: pointer;
	position: absolute;
	width: 50px;
	height: 50px;
	right: 5%;
	background-color: #DA3535;
	border-radius: 50%;
	box-shadow: 0 5px 10px 5px rgba(0, 0, 0, 0.5);
	transition: all 0.5s ease-in-out;
	z-index: 8;
}
.menuButton.openButton{
	right: 95%;
	transform: rotate(180deg);
}
hr{
	margin: 2% 0 2% 0 !important;
}

span{
	font-weight: bold !important;
	color: #2A6364 !important;
	font-size: 14px;
}

.space{
	height: 10px;
}

.button{
	text-align: center;
}

.Form{
  background-color: #fff;
  padding: 20px 30px 25px 30px;
  border: 1px solid #ccc;
  border-radius: 25px;
}

h4{
	font-weight: bold !important;
	color: #2A6364 !important;
	text-align: center;
}

input{
	height: 37px;
	width: 100%;
	font-size: 14px;
	padding: 0 6px 0 6px;
	border-radius: 5px;
}

textarea{
	height: 74px;
	width: 100%;
	font-size: 14px;
	padding: 4px 6px 0 6px;
	border-radius: 5px;
}

.sottotitoloForm{
	color: #8d8d8d !important;
	text-align: center;
	font-size: 13px;
	margin-bottom: 10px;
}

.inviomodulo{
	background-color: #DA3535;
	padding: 8px 30px 8px 30px;
	font-weight: bold !important;
	font-size: 14px;
	color: white;
	border-radius: 25px;
	width: 65%;
}

.opzioni{
	border: none;
	width: 90%;
}