main{
    min-width: 100%;
    min-height: 80vh;
    background-image: url('./Background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #2a6364;
}

.welcomeBox{
    background-color: #fff;
    padding: 5%;
    border-radius: 50%;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.5);
    *{
        margin: 20px;
    }
}