.mainCucina { background-image: url('kitchen.png'); }
.ksh1{
    padding: 1% 5%;
    margin-block: 20px;
    border-radius: 25px;
    background-color: #fff;
    box-shadow: 0 10px 20px 5px rgba(63, 99, 100, 0.5);
    border: 1px solid #2a6364;
    width: 90%;
}