.ScrollLayout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}
  
.ScrollgridContainer {
    padding: 5%;
    display: grid;
    grid-template-rows: repeat(auto-fit, 1fr);
    grid-template-columns: repeat(3, 1fr);
    gap: 3%;
    max-height: 80vh;
    overflow-y: scroll;
    width: 100%;
}
.ScrollgridContainer::-webkit-scrollbar{
    display: none;
}

.elementBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    background-color: #fff;
    border-radius: 25px;
    padding: 5%;
    width: auto;
    height: 250px;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.5);
    cursor: pointer;
    border: 2px solid transparent;
    transition: all 0.5s ease-in-out;
}
.elementBox:hover{
    border: 2px solid #2a6364;
    box-shadow: 0 10px 20px 20px rgba(42, 99, 100, 0.5);
}
  
.elementBox .element-image {
    border-radius: inherit;
    height: 150px;
    width: auto;
}
  
@media only screen and (max-width: 1000px){
    .ScrollgridContainer {
        grid-template-columns: repeat(2, 1fr);
    }
}
  
@media only screen and (max-width: 700px){
    .ScrollgridContainer {
        grid-template-columns: repeat(1, 1fr);
    }
    .elementBox{
        width: 100%;
    }
}