header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    border-bottom: 1px solid #2a6364;
    nav{
        display: flex;
    }
    ul{
        display: flex;
        list-style: none;
        align-items: center;
        justify-content: space-between;
        text-align: center;
    }
    li{
        margin-inline: 20px;
        color: #2a6364;
    }
    li a{
        text-decoration: none;
        color: #2a6364;
        transition: color 0.5s ease-in-out;
    }
    a:hover{
        color: red;
    }
}
.headerImg{
    height: 40px;
    width: auto;
}
.headerLogo{
    height: 60px;
    width: auto;
}

.logoContainer{
    display: flex;
    align-items: center;
    justify-content: center;
}