.menuContainer{
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 9;
}

.menuBox{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 85px;
    right: 5%;
    color: #2a6364;
    background: #fff;
    width: 150px;
    height: 200px;
    border-radius: 25px;
    box-shadow: 0 10px 20px 10px rgba(0, 0, 0, 0.5);
    z-index: 8;
    nav ul{
        list-style: none;
        display: flex;
        flex-direction: column;
        text-align: left;
        li{ 
            cursor: pointer; 
            margin-top: 20px;
        }
        li:first-child{
            margin-top: 0;
        }
        li a{
            text-decoration: none;
            color: #2a6364;
            transition: color 0.5s ease-in-out;
        }
        li a:hover{
            color: red;
        }
    }
    animation: display 0.5s 1;
}

@keyframes display {
    from{opacity: 0;}
    to{opacity: 1;}
}